:root {
    --primary-color: #5E56E7;
    --secondary-color: #F8F7FF;
    --grey-light: #F0F0F6;
    --grey-medium: #A0A0A0;
    --grey-dark: #333333;
}

.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn-primary:hover {
    background-color: #4a43d6 !important;
    border-color: #4a43d6 !important;
}

.form-control:focus {
    border-color: var(--primary-color) !important;
    box-shadow: 0 0 0 0.2rem rgba(94, 86, 231, 0.25) !important;
}

body {
    font-family: 'Montserrat', sans-serif !important;
}


.spinner-border.text-primary {
    color: var(--primary-color) !important;
}